<% if(success.length > 0) {%>
<div class="alert alert-success" role="alert">
  <%= success %>
</div>
<% } %>
<% if(error.length > 0) {%>
<div class="alert alert-danger" role="alert">
  <%= error %>
</div>
<% } %>