<script>
  $.get({
      url: '/notif/alert'
  }).done((data)=> {
      console.log(data)
      let html = ''
      data.forEach(item => {
          html += `
          <a href="/purchases" class="dropdown-item d-flex align-items-center" href="#">
                  <i class="fas fa-solid fa-biohazard bg-warning rounded-circle fa-1x px-2 py-2"></i>
                  <div class="col">
                      <div class="small text-gray-500">Barcode: ${item.barcode}</div>
                      <span>Stock Alert : </span><strong >${item.name}</strong>
                      <br>
                      <span>only have stock </span><strong > ${item.stock} pcs</strong>
                  
                  </div>
          </a>            
          `
      })
      $('#alert').html(html)
  })
  $.get({
      url:'/notif/count'
  }).done((data) => {
      console.log(data)
      let html = `<span class="badge badge-danger badge-counter">${data[0].count} </span>`
  $('#count').html(html)
  })
</script>